.library_home {
    background: url("../../Images/library.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: fixed;

    .choice_boxes {
        display: flex;
        transform: translate3d(0, 100%, 0);
        height: 180px;
        width: 470px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        @include fideInSlowly();
  
        &.onFreeze {
          z-index: -1;
        }
        &.stopFreeze {
          z-index: 0;
        }
  
        &.show {
          transition: all 1.5s ease-out;
          transform: translate3d(0, 0, 0);
        }
        &.hide {
          transition: all 1s ease-out;
          transform: translate3d(0, 100%, 0);
        }
        .left_side_controller_box {
          background: url("../../Images/controller.PNG");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          height: 180px;
          width: 400px;
          border-radius: 5px 0 0 0;
          position: relative;
  
          span {
            display: block;
            text-align: center;
            color: white;
          }
          .notification {
            color: red;
          }
          //@include fideInSlowly();
          .box {
            margin-bottom: 4px;
            span {
              margin-left: 1rem;
            }
            &:hover {
              background: olivedrab;
              cursor: pointer;
            }
          }
          .radio_boxes {
            display: flex;
            justify-content: space-around;
            background: #242424;
            border-radius: 5px 0 0 0;
            .radio {
              font-weight: 500;
              text-decoration: none;
              color: white;
              cursor: pointer;
              span {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                border: 2px solid white;
                display: block;
                position: relative;
                margin: auto;
                &:after {
                  content: "";
                  height: 5px;
                  width: 5px;
                  background: white;
                  display: block;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%) scale(0);
                  border-radius: 50%;
                  transition: 400ms ease-in-out 0s;
                }
              }
            }
            .radio input[type="radio"] {
              display: none;
            }
            .radio input[type="radio"]:checked ~ span:after {
              transform: translate(-50%, -50%) scale(1);
            }
          }
          .btn_buy_bar {
            position: absolute;
            top: 5rem;
  
            @include button_effect();
          }
        }
        .right_side_controller_box {
          background: #192c32;
          border-radius: 0 5px 0 0;
          opacity: 0.9;
          width: 70px;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          text-align: center;
  
          .box_btn_home {
            flex: 1;
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.281);
            text-decoration: none;
            color: white;
            text-align: center;
            align-items: center;
            height: 30px;
            display: block;
            padding: 7px 0;
            &:hover {
              background: olivedrab;
            }
            &:nth-of-type(1) {
              border-radius: 0 5px 0 0;
            }
          }
          .box_btn_bar {
            border: 1px solid rgba(255, 255, 255, 0.151);
            color: white;
            width: 100%;
            padding: 7px 0;
            text-decoration: none;
            &:hover {
              background: olivedrab;
            }
            &:nth-of-type(1) {
              border-radius: 0 5px 0 0;
            }
          }
        }
      }
}