@import "./mixins.scss";
@import "./components/styleLogReg.scss";
@import "./components/Exam/styleExam.scss";
@import "./components/Bar/styleBarPage.scss";
@import "./components/Library/styleLibraryPage.scss";

body {
  padding: 0;
  margin: 0;
  font-family: "Monda", sans-serif;
  background: rgb(214, 211, 211);
}

.app {
  .left_side_door,
  .right_side_door {
    float: left;
    margin-top: 0;
    height: 100vh;
    width: 50%;
    overflow: hidden;
    z-index: 999;
  }
  .left_side_door {
    transform: translate3d(0, 0, 0);
    background: url("./Images/left_door2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include easeOut();
    &.show {
      transform: translate(-100%, 0);
    }
  }
  .right_side_door {
    transform: translate3d(0, 0, 0);
    background: url("./Images/right_door2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include easeOut();
    &.show {
      transform: translate(100%, 0);
    }
  }
  .effect_body {
    width: 100%;
    height: 100vh;
    // border: 1px solid red;
    z-index: 5;
    &.show {
      background: rgba(31, 31, 30, 0.438);
    }
    &.hide {
      background: none;
    }
  }

  .menu_btn {
    position: absolute;
    top: 25px;
    right: 15px;
    cursor: pointer;
    color: white;
    font-size: 32px;
  }
  .settings_box {
    position: absolute;
    height: auto;
    width: 300px;
    background: url("./Images/settings.jpg");
    border-radius: 5px 0 0 5px;
    right: 0;
    top: 35px;

    //z-index: 20;
    transform: translate3d(100%, 0, 0);
    &.show {
      @include easeOut();
      // transition: all 0.1s ease-out;
      transform: translate3d(0, 0, 0);
    }
    &.hide {
      transition: all 0.5s ease-out;
      transform: translate3d(100%, 0, 0);
    }
    .username_logOut_box {
      text-align: center;
      .box_user {
        display: block;
        color: white;
        .user_name {
          font-size: 18px;
          font-weight: bold;
        }
      }
      a {
        color: red;
      }
    }
    .menu_nav {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .nav_item {
        border: 1px solid green;
        list-style: none;
        border: 1px solid rgba(5, 5, 5, 0.288);
        border-radius: 2px;

        width: 200px;
        margin: 0.5rem 0;
        //cursor: pointer;
        padding: 6px;
        font-size: 20px;
        &.hide {
          background: rgba(78, 78, 78, 0.815);
        }
        &.show {
          background: rgba(255, 255, 255, 0.87);
          box-shadow: 1px 1px 9px #beb5b5b7;
        }

        .nav_item_child {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &.hide {
            color: white;
          }
          &.show {
            color: back;
          }
          .fas {
            margin-right: 5px;
            font-size: 18px;
            &.fa-user,
            &.fa-wallet,
            &.fa-comment-dots {
              color: #059096;
            }

            &.fa-chevron-down {
              color: rgba(0, 128, 0, 0.774);
            }
            &.fa-chevron-right {
              color: rgba(255, 0, 0, 0.76);
            }
          }
        }

        .child_info_feedback {
          .feedback {
            .success_feedback {
              position: relative;
              .fas {
                position: absolute;
                top: 2rem;
                left: 5.3rem;
                font-size: 35px;
                color: green;
                &.show {
                  z-index: 1;
                  @include fideInSlowly();
                }
                &.hide {
                  -webkit-transition: all 2s;
                  -moz-transition: all 2s;
                  -o-transition: all 2s;
                  transition: all 2s;  
                  -moz-transform: scale(0.1);
                  -webkit-transform: scale(0.1);
                  opacity: 0;
                }
              }
            }
            textarea {
              width: 80%;
              height: 80px;
              resize: none;
              border: none;
              overflow: auto;
              outline: none;
              padding: 6px;
              font-size: 16px;
            }

            @include buttonsSliderMenu();
          }
        }

        .child_info_money {
          .money_box {
            display: flex;
            text-align: start;
            align-items: center;
            margin-left: 1rem;
            .total {
              font-size: 15px;
            }
            .money {
              margin-left: 2px;
            }
          }
          .my_orders {
            margin-left: 1rem;
            text-align: start;
            .orders_box {
              display: flex;
              justify-content: space-between;
              align-items: center;
              &.show {
                .fas {
                  margin-right: 5px;
                  color: green;
                }
              }
              &.hide {
                .fas {
                  margin-right: 5px;
                  color: red;
                }
              }
            }

            .fas {
              font-size: 14px;
              margin-left: 0.5rem;
            }

            .beer_coffe_boxes {
              .orders {
                margin-left: 10px;
                font-size: 16px;
                display: flex;
                justify-content: start;
                .price {
                  font-weight: bold;
                  margin-left: 5px;
                }
              }
            }
          }
        }
        .child_info_form {
          .form_box {
            position: relative;

            .notification_success {
              color: rgb(31, 119, 4);
              background: rgba(255, 255, 255, 0.87);
              font-size: 17px;
              position: absolute;
              top: 1px;
              z-index: 1;
              transform: translate3d(300%, 0, 0);
              .fas {
                display: block;
                text-align: center;
                color: green;
              }
              &.show {
                transition: all 1.5s ease-out;
                transform: translate3d(7%, 0, 0);
              }
              &.hide {
                transition: all 1s ease-out;
                transform: translate3d(300%, 0, 0);
              }
            }
            .notification_error_empty {
              color: rgb(255, 0, 0);
              font-size: 17px;
              position: absolute;
              background: rgba(255, 255, 255, 0.87);
              top: 1px;
              z-index: 1;
              transform: translate3d(300%, 0, 0);

              .fas {
                display: block;
                text-align: center;
                color: red;
              }

              &.show {
                transition: all 1.5s ease-out;
                transform: translate3d(0, 0, 0);
              }
              &.hide {
                transition: all 1s ease-out;
                transform: translate3d(300%, 0, 0);
              }
            }
            .notification_error {
              color: rgba(255, 0, 0, 0.76);
              font-size: 17px;
              position: absolute;
              background: rgba(255, 255, 255, 0.87);
              top: 16px;
              z-index: 1;
              transform: translate3d(300%, 0, 0);

              .fas {
                display: block;
                text-align: center;
                color: red;
              }

              &.show {
                transition: all 1.5s ease-out;
                transform: translate3d(10%, 0, 0);
              }
              &.hide {
                transition: all 1s ease-out;
                transform: translate3d(300%, 0, 0);
              }
            }
            form {
              width: 160px;
              margin: auto;
            }
            button {
              margin: 8px auto;
              color: green;
              cursor: pointer;
            }
            @include buttonsSliderMenu();
          }

          .child_info_info {
            margin-top: 10px;
            text-align: start;
            margin-left: 13px;
            //border: 1px solid blue;
            .fas {
              font-size: 16px;
            }
            span {
              margin-left: 4px;
              font-size: 16px;
            }
          }
        }
      }
      transform: translate3d(100%, 0, 0);
      &.show {
        transition: all 1s ease-out;
        transform: translate3d(0, 0, 0);
      }
    }
  }
  .home {
    background: url("./Images/homeTest.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: fixed;

    .bottons_home_home {
      .link_Bar {
        position: absolute;
        left: 5%;
        top: 50%;

        @include bottomHome();
      }

      .link_exam {
        position: absolute;
        left: 53%;
        top: 30%;
        .fas {
         font-size: 22px;
        }
        @include bottomHome();
      }
      .link_library {
        position: absolute;
        left: 40%;
        top: 45%;
        @include bottomHome();
      }
      .link_game {
        position: absolute;
        right: 5%;
        top: 50%;
        .fas {
          font-size: 22px;
         }
        @include bottomHome();
      }
    }
    .box_question_home {
      position: absolute;
      left: 72%;
      top: 55%;
      background: white;
      width: 120px;
      height: auto;
      border-radius: 50px;
      padding: 15px;
      text-align: center;
      word-wrap: break-word;
      z-index: -1;
      &.Okay {
        @include hideEffect();
      }

      .box_question_child {
        background: white;
        position: absolute;
        left: 74%;
        top: -5%;
        width: 20px;
        height: 20px;
        border-radius: 20px 0 0 0;
      }
      span {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
      }
      .people_question {
        text-align: center;
      }
    }
    .choice_boxes {
      display: flex;
      transform: translate3d(0, 100%, 0);
      height: 180px;
      width: 470px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      @include fideInSlowly();

      &.onFreeze {
        z-index: -1;
      }
      &.stopFreeze {
        z-index: 0;
      }

      &.show {
        transition: all 1.5s ease-out;
        transform: translate3d(0, 0, 0);
      }
      &.hide {
        transition: all 1s ease-out;
        transform: translate3d(0, 100%, 0);
      }
      .left_side_controller_box {
        background: url("./Images/controller.PNG");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 180px;
        width: 400px;
        border-radius: 5px 0 0 0;
        span {
          display: block;
          text-align: center;
          color: white;
        }
        .notifications {
          color: white;
          text-align: center;
          width: 200px;
          margin: 1rem auto;
          span {
            color: rgb(91, 243, 91);
          }
        }
        //@include fideInSlowly();
        .box {
          margin-bottom: 4px;
          span {
            margin-left: 1rem;
          }
          &:hover {
            background: olivedrab;
            cursor: pointer;
          }
        }
        .radio_boxes {
          display: flex;
          justify-content: space-around;
          background: #242424;
          border-radius: 5px 0 0 0;
          // border: 1px solid red;
          .radio {
            font-weight: 500;
            text-decoration: none;
            color: white;
            cursor: pointer;
            span {
              height: 10px;
              width: 10px;
              border-radius: 50%;
              border: 2px solid white;
              display: block;
              position: relative;
              margin: auto;
              &:after {
                content: "";
                height: 5px;
                width: 5px;
                background: white;
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(0);
                border-radius: 50%;
                transition: 400ms ease-in-out 0s;
              }
            }
          }

          .radio input[type="radio"] {
            display: none;
          }
          .radio input[type="radio"]:checked ~ span:after {
            transform: translate(-50%, -50%) scale(1);
          }
        }
        .textArea_btnSend_box {
          .textArea_btnSend {
            height: 80px;
            position: relative;
            textarea {
              background: rgba(0, 0, 0, 0);
              padding: 5px;
              width: 82%;
              height: 20px;
              margin: 10px 10px 10px 2rem;
              resize: none;
              border: none;
              overflow: auto;
              outline: none;
              color: rgb(91, 243, 91);
              font-size: 17px;
            }
            textarea::placeholder {
              color: rgb(91, 243, 91);
              font-size: 21px;
            }
            align-items: center;
            .btnSend_home {
              @include button_effect();
            }
            &.hide {
              textarea {
                display: none;
              }
            }
          }
        }
      }
      .right_side_controller_box {
        background: #192c32;
        border-radius: 0 5px 0 0;
        opacity: 0.9;
        width: 70px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .box_btn_home {
          flex: 1;
          width: 100%;
          border: 1px solid rgba(255, 255, 255, 0.281);
          text-decoration: none;
          color: white;
          text-align: center;
          align-items: center;
          height: 30px;
          display: block;
          padding: 7px 0;
          &:hover {
            background: olivedrab;
          }
          &:nth-of-type(1) {
            border-radius: 0 5px 0 0;
          }
        }
        .box_btn_bar {
          border: 1px solid rgba(255, 255, 255, 0.151);
          color: white;
          width: 100%;
          padding: 7px 0;
          text-decoration: none;
          &:hover {
            background: olivedrab;
          }
          &:nth-of-type(1) {
            border-radius: 0 5px 0 0;
          }
        }
      }
    }
  }
  .logout {
    transform: translate3d(0, -100%, 0);
    &.show {
      transition: all 1.5s ease-out;
      transform: translate3d(0, 0, 0);
      position: absolute;
      top: 25px;
      left: 15px;
      background: white;
      padding: 2px;
      border-radius: 4px;
      text-decoration: none;
      color: red;

      span {
        align-items: center;
        display: block;
      }
      &:hover {
        z-index: 7;
        background: orange;
      }
    }
  }
}
